DATABASE_URL=postgresql+psycopg://postgres:thisisapassword@localhost:5433/test_fastapi
AUTH_SECRET_KEY=change-this-secret-key-to-32-bytes-minimum
AUTH_TOKEN_EXPIRE_MINUTES=60
COOKIE_SECURE=false
COOKIE_SAMESITE=lax